<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Overview</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to the Movie Database App!</h1>
    <div style="padding: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); justify-items: center; width: fit-content; border-radius: 5px; margin: auto; background-color: white;">
        <h3>How to navigate through the project?</h3>
        <ul>
            <li>
                <p>The homepage will show you how to navigate through the project.</p>
            </li>
            <li>
                <p>There’s a button called "Have a look at the movie list" that takes you to the list of movies.</p>
            </li>
            <li>
                <p>On the movies page, you can:</p>
                <ul>
                    <li><p>View the details of a movie by clicking the "View" button.</p></li>
                    <li><p>Edit a movie’s details by clicking the "Edit" button.</p></li>
                    <li><p>Delete a movie by clicking the "Delete" button.</p></li>
                </ul>
            </li>
            <li>
                <p>If you want to add a new movie, there’s a "Create New Movie" button that opens up a form where you can input the movie’s details.</p>
            </li>
            <li>
                <p>In the view, edit, and create pages, there is a back button that allows you to return to the movies page directly.</p>
            </li>
            <li>
                <p>On the movies page there is a "Back to home page" button on the bottom of the page to return to the main page with the group members' info.</p>
            </li>
        </ul>
    </div>
    <div class="button" id="center-button">
        <form action="/users" method="get">
            <button type="submit" class="button" id="button">Have a look at the movie list</button>
        </form>
    </div>
    
</body>
</html>
